body{
    background-color: #f0f0f0;
  
}
/* navbar */
.navbar{
    position: absolute;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar-brand{
    margin-left: 80px;
}
.nav-link>i{
    padding: 0px 5px;
}
.nav-item{
    padding: 0px 3px;
}
.nav-item:hover{
    background: #FFF;
    color: #000;
    padding: 2px 0px;
}

/* Image Slide */


#carouselExampleControls{    
    width: 100%;
}

.two-banner a{
    width: 100%;
}
.information h2{
    text-decoration: none; 
}
.information .see-more{
    font-size: 13px;
    float: right;
}
/* Sản phẩm */
#deal{
    margin-top: 20px;
    background: #f3f3f3
}
.deal{
    margin-left: 80px;
    font-size: 22px;
    text-transform: uppercase;
}
#special-phones{
    margin-top: 20px;
    background: #f3f3f3
}
.special-phones{
    margin-left: 80px;
    font-size: 22px;
    text-transform: uppercase;
}
#special-laps{
    margin-top: 20px;
    background: #f3f3f3
}
.special-laps{
    margin-left: 80px;
    font-size: 22px;
    text-transform: uppercase;
}
#special-things{
    margin-top: 20px;
    background: #f3f3f3
}
.special-things {
    margin-left: 80px;
    font-size: 22px;
    text-transform: uppercase;
}

.see-all{
    float: right;
    font-size: 15px;
    padding-right: 120px;
    text-decoration: none;
    margin-top: 30px;
}

.some-items{
    display: flex;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 77px;
	background-color: #e5e5e5;
	height: 60px;
    flex-direction: center;
}
.item{
    margin-top: 10px;
    width: auto;
	height: 40px;
	border-radius: 20px;
	background-color: #fff;
	margin-left: 15px;
    padding:  0px 8px;
    line-height: 40px;
    font-size: 15px;
    color: #000;
}
.item:hover{
    background-color: #000;
    color: #FFF;
    list-style: none;
    text-decoration: none;
}
/* hover on picture */
figure {
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
.card figure {
	position: relative;
}
.card figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.card figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.footer {
    margin-top: 20px;
    background: #f3f3f3;
    height: 200px;
}
.footer .more{
    padding-top: 30px;
}
.footer p a{
    color: #666;
    text-decoration: none;
}
.footer p{
    color: #666;
}
.footer a:hover{
    color: red;
}

